<div class="age-confirm">
	<div class="age-confirm__inner">
		<div class="age-confirm__box">
			<div class="age-confirm__title">УВАЖАЕМЫЙ ГОСТЬ,</div>
			<div class="age-confirm__text">
				наш сайт содержит контент, не предназначенный для лиц младше 18 лет.
				<br>
				В целях соблюдения законодательства Украины просим Вас подтвердить Ваш возраст.</div>
			<div class="age-confirm__button-box">
				<div class="button button_size_l button_view_b age-confirm__button-confirm">
					<div class="button__text">мне есть 18 лет</div>
				</div>
				<div class="button button_size_l button_view_b age-confirm__button-disconfirm">
					<div class="button__text">мне нет 18 лет</div>
				</div>
			</div>
		</div>
	</div>
</div>