<section class="bar-mobile page__section" id="bar">
	<div class="page__container">
		<div class="title bar-mobile__title">
			<div class="title__section title__section_m">Premium</div>
		</div>
		<div class="page__box">
			<div class="bar-mobile__inner">
				{% include "blocks/items/bar-mobile-item.njk" %}
				<div class="bar-mobile__about">

					<div class="bar-mobile__title-in title">
						<div class="bar-mobile__title-main title__big">Bar</div>
					</div>
					<div class="bar-mobile__text">
					Барная карта Billionaire состоит из эталонных вин старого мира, марочных коньяков, виски и классических коктейлей.
					</div>

				</div>
			</div>

			<div class="title bar__title-long">
				<div class="title__section title__section_m">Alcohol</div>
			</div>

		</div>
	</div>
</section>