<section class="bar page__section">
	<div class="page__container">
		<div class="title bar__title">
			<div class="title__section title__section_m">Premium</div>
		</div>
		<div class="page__box">
			<div class="bar__inner">
				<div class="bar__about">
					<div class="bar__title-in-box title">
						<div class="bar__title-in title__main">Bar</div>
					</div>
					<div class="bar__text">
					Барная карта Billionaire состоит из эталонных вин старого мира, марочных коньяков, виски и классических коктейлей.
				</div>

					<div class="bar__button">
						<div class="button button_size_l button_view_b">
							<div class="button__text">больше о баре</div>
						</div>
					</div>
				</div>
				<div class="bar__image-col">
					<div class="bar__image-box">
						<img src="./img/content/bar_img_1.jpg" class="bar__image-1">
						<div class="bar__image-box-2">
							<img src="./img/content/bar_img_2.jpg" class="bar__image-2">
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="title bar__title-long">
			<div class="title__section title__section_m">Alcohol</div>
		</div>
	</div>
</section>