<section class="text-mobile">
	<div class="text-mobile__inner">
		{# <div class="text-mobile__title title">
			<div class="title__sub">Условия Джанкет-Туры</div>
		</div> #}
		<div class="text-mobile__text">{{texts.header_text}}</div>
	</div>
</section>