.title {
	&__main {
		font-size: 36px;
		line-height: 50px;
		font-family: "Blacker Pro", sans-serif;
		color: $color_light;
		opacity: 0.5;
		@include bp768-block() {
			font-size: 72px;
			line-height: 100px;
		}
	}

	&__sub {
		font-weight: 400;
		font-size: 20px;
		line-height: 22px;
		color: $color_light;

		@include bp994-block() {
			font-size: 24px;
			line-height: 28px;
		}
	}

	&__big {
		font-size: 100px;
		line-height: 120px;
		font-family: "Blacker Pro", sans-serif;
		color: $color_light;
		//opacity: 0.5;
		@include bp768-block() {
			font-size: 72px;
			line-height: 100px;
		}
	}

	&__section {
		font-family: "Blacker Pro", sans-serif;
		color: $color_light;
		opacity: 0.5;
		font-size: 80px;
		line-height: 100px;
		@include bp768-block() {
			font-size: 72px;
		}

		&_l {
			font-size: 28px;
			line-height: 38px;
			@include bp768-block() {
				font-size: 54px;
				line-height: 62px;
			}
			@include bp994-block() {
				font-size: 72px;
				line-height: 100px;
			}
		}
		&_m {
			font-size: 58px;
			line-height: 68px;
			@include bp768-block() {
				font-size: 68px;
				line-height: 76px;
			}
			@include bp994-block() {
				font-size: 72px;
			}
		}
	}
}
