/* @font-face {
	font-family: "Blacker Pro";
	src: local("Blacker Pro Display Condensed Regular"),
		local("Blacker-Pro-Display-Condensed-Regular"),
		local("Blacker Pro Display Condensed"),
		local("Blacker-Pro-Display-Condensed"),
		url("../fonts/BlackerProDisplayCondensedTrial-Regular.woff2")
			format("woff2"),
		url("./fonts/BlackerProDisplayCondensedTrial-Regular.woff")
			format("woff"),
		url("./fonts/BlackerProDisplayCondensedTrial-Regular.ttf")
			format("truetype");
	font-weight: 700;
	font-style: normal;
} */

/* @font-face {
	font-family: "Blacker Pro";
	src: local("Blacker Pro Display Condensed Bold"),
		local("Blacker-Pro-Display-Condensed-Bold"),
		local("Blacker Pro Display Condensed"),
		local("Blacker-Pro-Display-Condensed"),
		url("../fonts/BlackerProDisplayCondensedTrial-Bold.woff2")
			format("woff2"),
		url("./fonts/BlackerProDisplayCondensedTrial-Bold.woff") format("woff"),
		url("./fonts/BlackerProDisplayCondensedTrial-Bold.ttf")
			format("truetype");
	font-weight: 400;
	font-style: normal;
}
 */
/* @font-face {
	font-family: "Blacker Pro";
	src: local("Blacker Pro Titling Diamond Regular"),
		local("Blacker-Pro-Titling-Diamond-Regular"),
		url("../fonts/BlackerProTitlingDiamondTrial-Regular.woff2")
			format("woff2"),
		url("../fonts/BlackerProTitlingDiamondTrial-Regular.woff")
			format("woff"),
		url("../fonts/BlackerProTitlingDiamondTrial-Regular.ttf")
			format("truetype");
	font-weight: 400;
	font-style: normal;
}
 */
@font-face {
	font-family: "Blacker Pro";
	src: local("Blacker Pro Titling Diamond Regular"),
		local("Blacker-Pro-Titling-Diamond-Regular"),
		url("../fonts/Blacker-Pro-Titling-Bold.otf") format("opentype");

	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Tenor Sans";
	src: local("Tenor Sans"), local("TenorSans"), local("Tenor Sans Regular"),
		local("Tenor-Sans-Regular"),
		url("../fonts/TenorSans-Regular.woff2") format("woff2"),
		url("../fonts/TenorSans-Regular.woff") format("woff"),
		url("../fonts/TenorSans-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
