/* COLORS */

$color_base: #ffe0d1;
$color_main: #662238;
$color_dark: #451525;
$color_light: #f1af87;

$color_dark_2: #33101b;
$color_red: #782240;

$color_gradient: #57132a;
$color_gradient_dark: rgba(116, 16, 50, 0.5);

$color_gray: rgba(#fff, 0.3);
/* TIME*/

$th: 0.25s;
