<div class="item bar-mobile__item">
	<div class="item__inner">
		<div class="bar-mobile__img-box item__img-box ">
			<img src="./img/content/bar_img_1.jpg" alt="" class="item__img img">
		</div>

		<div class="item__text-box bar-mobile__button-box">
			<div class="button button_size_l button_view_b">
				<div class="button__text">Открыть меню</div>
			</div>
		</div>
	</div>
</div>