<div class="item casino__item casino__item_{{item.decoClass}}">
	<div class="item__inner">
		<div class="item__img-box">
			<img src="./img/content/{{item.img}}.jpg" alt="" class="item__img">
		</div>

		<div class="item__text-box">
			<div class="item__text">{{item.text}}</div>
		</div>
	</div>
</div>