<div class="conditions__item">
	<div class="conditions__cell conditions__left">

		<div class="conditions__icon">
			<span class="icon icon_{{item.icon}}"></span>
		</div>
		<div class="conditions__name-box">
			<div class="conditions__name">{{item.name}}</div>
		</div>

	</div>
	<div class="conditions__cell conditions__right">

		<div class="conditions__text">{{item.text}}</div>

	</div>

</div>