<div class="item hotel__item">
	<div class="item__inner">
		<div class="item__img-box">
			<img src="./img/content/{{item.img}}.jpg" alt="" class="item__img img">
		</div>

		<div class="item__text-box">
			<div class="item__text">{{item.text}}</div>
		</div>
	</div>
</div>