<div class="menu-footer {{inject.parentClass}}">
	<nav class="menu-footer__list">
		{% for item in inject.listData %}
			{% include "blocks/menu/" + inject.menuItemTpl + ".njk" %}
		{% endfor %}
	</nav>
</div>