<span class="input input_size_xl form__input {{inject.itemClass}}">
	<span class="input__box">
		<input class="input__control" placeholder="{{item.placeholder}}" name="{{item.name}}"/>
	</span>
</span>